* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ecf0f1;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  padding: 0;
}
main {
  background-color: #fff;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
  width: 100%;
  min-height: 60vh;
  margin: 0 auto;
  border-radius: 12px;
}
.main-container {
  padding: 20px;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0;
}
h1 {
  font-size: 40px;
  line-height: 0;
}
.color-main {
  color: #4834d4;
}

.bg-main {
  background-color: #4834d4;
}
.bg-light {
  background-color: #f39c12;
}
.bg-success {
  background-color: #27ae60;
}
.bg-danger {
  background-color: #ea2027;
}
.btn-main {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #fff;
}
.modal {
  display: none;
  position: relative;
  background-color: #fff;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
  width: 90%;
  border-radius: 8px;
  margin: 0 auto;
}
.cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cancel-btn button {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.add-task-container {
  color: #4834d4;
  padding: 60px 30px;
  width: 100%;
}
.add-task-container .title {
  margin-bottom: 20px;
}
.field {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
}
.add-task-container input,
textarea {
  padding: 10px;
  width: 80%;
  outline: none;
  border: 1px solid #4834d4;
  color: #4834d4;
  border-radius: 4px;
}

.actions-container {
  display: flex;
  gap: 10px;
}

/* task counter */
.task-counter {
  margin-top: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.task-counter .count-box {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
}
.task-filter {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task-filter .search {
  width: 90%;
}
.task-filter .filter {
  flex: 1;
  display: flex;
  gap: 8px;
  justify-content: end;
}
.task-filter input {
  padding: 10px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #4834d4;
  color: #4834d4;
  outline: none;
}
select {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #4834d4;
  color: #4834d4;
  outline: none;
}

/* task list container */
.task-list-container {
  color: #4834d4;
  margin-top: 30px;
}
.task-list-container .heading {
  font-size: 18px;
  font-weight: 600;
  display: none;
}
.task-list-container .task-item {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid #4834d4;
  border-radius: 4px;
  padding: 20px 10px;
}
.task-list-container .heading .title,
.task-item .title {
  flex-basis: 25%;
}
.task-list-container .heading .description,
.task-item .description {
  flex-basis: 50%;
}
.task-list-container .heading .status,
.task-item .status {
  flex-basis: 15%;
}
.task-list-container .heading .action,
.task-item .action {
  flex-basis: 10%;
}
.task-list .task-item {
  margin-top: 20px;
}
.task-list-container .task-item .title {
  font-weight: 600;
  font-size: 18px;
}
.task-item .description {
  padding-right: 10px;
}
.task-item .status span {
  display: inline !important;
  padding: 4px 8px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.task-item .action {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.task-item .action svg {
  cursor: pointer;
}

#unselect-btn{
  display: none;
}
.no-tasks-found{
  background-color: #ea2027;
  padding: 10px 100px;
  border-radius: 30px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 150px;
  color: #fff;
}

@media screen and (min-width: 648px) {
  .task-filter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .task-filter .search {
    flex: 1;
  }
  .task-filter .filter {
    flex: 1;
    display: flex;
    gap: 8px;
    justify-content: end;
  }
  .task-list-container .heading {
    display: flex;
  }
  .task-list-container .task-item {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 0;
  }
  .task-list-container .heading .action {
    display: flex;
    justify-content: center;
  }
  .task-list-container .task-item .title {
    font-weight: 500;
    font-size: 14px;
  }
  .task-item .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

@media screen and (min-width: 1100px) {
  body {
    padding: 20px 0;
  }
  main {
    width: 80%;
  }
  .main-container {
    padding: 50px;
  }
  h1 {
    font-size: 56px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0;
  }
  .btn-main {
    padding: 8px 16px;
  }
  .modal {
    width: 30%;
  }
  .actions-container {
    display: flex;
    gap: 30px;
  }
  .task-counter {
    margin-top: 20px;
  }
  .task-filter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .task-filter .search {
    flex: 1;
  }
  .task-filter .filter {
    flex: 1;
    display: flex;
    gap: 8px;
    justify-content: end;
  }
  select {
    padding: 10px;
  }
  .task-filter input {
    padding: 14px;
  }
  .task-list-container .heading {
    display: flex;
  }
  .task-list-container .task-item {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 0;
  }
  .task-list-container .heading .action {
    display: flex;
    justify-content: center;
  }
  .task-list-container .task-item .title {
    font-weight: 500;
    font-size: 14px;
  }
  .task-item .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
